@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jetBrainsMono: 'JetBrains Mono', monospace;
 
    --accent: #FFC0CB; /* Changer la couleur d'accent en rose bébé */
    --accent-foreground: #000; /* Optionnel : couleur d'accent au premier plan */

}

/* Autres styles globaux */
body {
  @apply font-primary bg-primary text-white leading-loose;
}